body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    border: 1px solid #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  #player-score, #computer-score {
    font-size: 2em;
  }
  
  #player-choice, #computer-choice {
    font-size: 5em;
    margin-top: 10px;
  }
  
  #result {
    font-size: 3em;
    margin-top: 20px;
  }
  
  button {
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 10px;
    border: 2px solid #333;
    background-color: #444;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  
  .choice {
    width: 100px;
    text-align: center;
  }